; Specify the absolute path of the directory to be overlayed.
; NOTE: You can only overlay an entire folder, not individual files.
; However, you can modify individual files within an overlayed folder.
; Uncomment a folder below by removing the semicolon or add a new one

;/lib
;/opt/victronenergy
;/usr/bin
;/usr/sbin
;/var/www/venus
